<style>
  
  
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: RED;
      font-size: 50px;
  }
  .logo {
      color: RED;
      font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  </style>




<!-- Container (About Section) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8"><font color="MIDNIGHTBLUE"  size="5px">
      <h2><strong>About Company </strong></h2>
            
    Ten years ago, Constant Content was a pioneer in the space of the creation and sale of prewritten content on the web. Since then we have grown 


from a small start-up to one of the Internet's largest and most established marketplaces for authority, original, SEO friendly content.


Over the years we have evolved with market trends and business needs, and while we continue to offer thousands of original prewritten articles

 
through our catalog, our primary focus is on the creation of custom content based on client specific requests and needs.


Today as part of the RevenueWire EcoSystem, we connect businesses and agencies to the best and most diverse selection of rigorously vetted writers 


online, and facilitate the building of unique teams of writers to serve specific content needs. With a roster of over 100,000 professional writers and 


more than 50,000 businesses world-wide who trust us with their content needs.


 we offer the most comprehensive high-quality article and custom content writing service on the Internet today.
     
    </div>
    <div class="col-sm-4">
     <img src="images/Company.png" height="500" width="500">
    </div>
  </div>
</div>



<!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <span class="glyphicon glyphicon-user logo-small"></span>
      <h4>Friends</h4>
      <p>You can find friends</p>
    </div>
    <div class="col-sm-3">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>Freedom to write</h4>
      <p>You can write blog here</p>
    </div>
    <div class="col-sm-3">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>Job</h4>
      <p>You can find job here</p>
    </div>
  
  <div class="row">
    <div class="col-sm-3">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>Security</h4>
      <p>We provide full security to your account</p>
    </div>
    
    </div></font>
  </div>
 
</div>





