
<style>
.btn-lg{
background-color:#00CED1;
}
</style>
<div>
<form><font color="MIDNIGHTBLUE"><center>

<font size="6px"><label>
{{blog.blogtitle}}</label></font>
<br>
<h4><span class="glyphicon glyphicon-time">PostedBy:{{blog.author.firstname}} On:{{blog.blogdate | date:'yyyy-MM-dd'}}</span>
<br><br>
<label>{{blog.blogdesc}}</label><br><br>
Leave a Comment:<br><textarea rows="3" cols="50" ng-model="blogComment.commentText"></textarea>
&nbsp;&nbsp;
<button type="submit" class="btn btn-lg" ng-click="savecomment()"><span class="fa fa-paper-plane"></span></button>
<br><br>
<button type="submit"  class="btn btn-lg" ng-click="showComments(blog.blogid)">Show comments</button><br><br>
<ul><li ng-repeat="blogcomment in blogcomments">
<label>{{blogcomment.commentText}}</label></li></ul>
</center></font>
</form>
</div>