
<style>

.form-control
{
width:60%;
    position: relative;
    font-size: 20px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.account
{
    padding: 10px 0px 20px 0px;
    background-color: #f7f7f7;
  	width:600px;
  	font-size:20px;
  	border: 2px solid white;
    border-radius: 8px;
    background-image:url("images/bg7(1).jpg");
	
}
.btn-block{
background-color:#00CED1;
width:60%;
height:50px;
font-size: 25px;
}
</style>


            <form name="blogform"><br><br><font color="MIDNIGHTBLUE" size="5px" face="verdana"><center>
            
            <h2>Write your blog here......!!!!</h2><br>
          
         	<div class="form group">
         	<label>Blog Title</label><br>
            <input type="text" ng-model="blog.blogtitle" class="form-control" placeholder="Enter the title" required></div>
       <br>
            <div class="form group">
            <label>Blog</label><br>
            <textarea rows="10" ng-model="blog.blogdesc" class="form-control" placeholder="Write your block here...." required></textarea>
                </div><br><br>
                <button type="submit" class="btn btn-block" ng-click="saveBlog()" ng-disabled="blogform.$invalid">
                    Save</button></center></font>
</form>
</div>
</div>
</div>
</div>