

<style>

.btn-lg{
background-color:#00CED1;
}
</style>

<div>
<form name="forumform" class="form-forum" novalidate>

<font color="MIDNIGHTBLUE" size="4px">
<p align="right">
<button class="btn btn-lg" ng-click="askquestionenable()">Ask a Question</button>
</p>
<br><br>





<center>
<div ng-repeat="forumlist in showapprovedforum">


<label><font size="6px"><a href="#/getforumbyid/{{forumlist.forumid}}">{{forumlist.forumText}}</a></font></label>
<p align="right" size="3px" >By:{{ forumlist.forumBy.username}}<span class="glyphicon glyphicon-time"></span> {{ forumlist.forumdate | date:'yyyy-MM-dd'}}</p>
<hr size="100%" color="white">

</div>

<div ng-show="question">

<b>Ask Your Question here..!</b><br><textarea rows="3" cols="80" ng-model="forum.forumText" required></textarea> 
<button type="submit" ng-click="saveForum()" ng-disabled="forumform.$invalid" class="btn btn-lg"><span class="fa fa-paper-plane"></button>
</div>

</center>
</font>
</form>
</div>
