
<style>
.form-Login
{
    max-width: 330px;
   padding: 15px; 
     margin: 0 auto; 
}
.form-Login .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
   
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    
    border-radius: 50%;
}


</style>




<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
           
            <div class="account-wall">
                <img class="profile-img" src="images/person1.jpg"
                    alt="">
                <form class="form-Login">
                <input type="text" class="form-control" placeholder="User name" ng-model="user.username" required autofocus>
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
                <button class="btn btn-lg btn-success btn-block" type="submit" ng-click="userLogin()">
                    Log in111</button>
                   
                <br>
               
                <a href="Signup.html" class="text-center new-account">Create an account</a>
                </form>
            </div>
            
        </div>
    </div>
</div>

