
<style>
.form-Login
{
    max-width: 350px;
   padding: 15px; 
     margin: 0 auto; 
}
.form-Login .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    background-image:url("images/bg7(1).jpg");
    border: 2px solid white;
    border-radius: 8px;
    width:400px;
	
   
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    
    border-radius: 50%;
}

.new-account:hover{
background-color:#FFFFFF;

}
.new-account{
color:#191970;
}

.btn-block{
background-color:#00CED1;
}
</style>




<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
           
            <div class="account-wall">
                <img class="profile-img" src="images/login.png"
                    alt="">
                <form class="form-Login" name="loginform" novalidate>
                <input type="text" class="form-control" placeholder="User name" ng-model="user.username" required>
                <p ng-show="loginform.username.$invalid && loginform.username.$dirty" style="color:red">Not blank</p>
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required><br>
                <p ng-show="loginform.password.$invalid && loginform.password.$dirty" style="color:red">Password can not be blank</p>
                <button class="btn btn-block" type="submit" ng-click="userLogin()">
                    Log in</button>
                   
                <br>
               
               <h4> <a href="#/signup" class="new-account">Not registerd? Create New account</a></h4>
                </form>
            </div>
            
        </div>
    </div>
</div>

