

<style>
.form-job
{
    max-width:500px;
     margin: 0 auto; 
     
}
.form-job .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.account
{
    padding: 10px 0px 20px 0px;
    background-color: #f7f7f7;
  	width:600px;
  	font-size:20px;
  	border: 2px solid white;
    border-radius: 8px;
    background-image:url("images/bg7(1).jpg");
	
}
.btn-block{
background-color:#00CED1;
font-size: 25px;
}
</style>


<div class="container">

<div class="row">
<div class="col-sm-6 col-md-4 col-md-offset-4">
<div class="account">
<form class="form-job" name="jobform"><font face="Verdana" size="4px" color="MIDNIGHTBLUE">

<h3><center>Jobs</center> </h3>
<font color="red">{{error.message}}</font>
<label><b>Title</b></label>
<input type="text" class="form-control" ng-model="job.jtitle"required><br>

<label><b>Description</b></label>
<input type="text" class="form-control" ng-model="job.jdesc" required><br>

<label><b>Skills</b></label>
<input type="text" class="form-control" ng-model="job.jskills"><br>

<label><b>Experience</b></label>
<input type="text" class="form-control" ng-model="job.jyrsofexp" required><br>
<label><b>Salary</b></label><input type="text" class="form-control" ng-model="job.jsalary" required><br>
<label><b>Company</b></label><input type="text" class="form-control" ng-model="job.jcompany" required><br>

<label><b>Location</b></label>
<input type="text" class="form-control" ng-model="job.jlocation" required><br>


                
               <br><br>
                
                <button class="btn btn-block" type="submit" ng-click="saveJob()" ng-disabled="jobform.$invalid">
                   Save</button>
</form>
</div>
</div>
</div>
</div>