

<style>

.table-responsive .table-hover{
background-color:#FFFFFF;
}
.btn-block{
background-color:#00CED1;
}
</style>
<script>
function applyforjob(){
	alert("You have successfully applied for the job!!")
	
}

</script>

<form><font color="MIDNIGHTBLUE" face="verdana" size="5px">
<center>Job Details</center><br><br><center>
Search<input type="text" ng-model="jobSearch" placeholder="search here..!"></center><br><br>
<table class="table table-responsive table-hover">

<thead>
<tr><td>Title</td><td>Date : posted on</td></tr>
</thead>
<tbody>
<tr ng-repeat="job in jobs | filter:jobSearch">
<td><a href="" ng-click="getJobById(job.jid)">{{job.jtitle}}</a></td><td>{{job.jpostedon | date:'yyyy-MM-dd'}}</td></tr>
</tbody>

</table>
<br><br>
<div ng-show="showjob">
<div class="row">
        <div class="col-sm-6 col-md-4 col-md-4">
<table>

<tbody>
<tr><td>
Title:  </td><td> {{jobid.jtitle}}</td>
</tr><tr><td>
Company:</td><td>   {{jobid.jcompany}}</td></tr>
<tr><td>
Description:   </td><td>{{jobid.jdesc}}</td></tr>
<tr><td>Salary:</td><td>   Rs{{jobid.jsalary}}</td></tr>
<tr><td>
Skills: </td><td>  {{jobid.jskills}}</td></tr>
<tr><td>
Experience: </td><td> {{jobid.jyrsofexp}}years</td></tr>
<tr><td>
Location:  </td><td> {{jobid.jlocation}}</td></tr>
<tr><td>
Posted On:  </td><td> {{jobid.jpostedon| date:'yyyy/MM/dd'}}</td></tr></tbody>

</table></div></div>
<button class="btn btn-block" onclick="applyforjob()"><h4>Apply</h4	></button>
  </div>
    </font>      
</form>
</div></div>
</div>
</div>
