
<style>
.form-signup
{
    max-width:500px;
     margin: 0 auto; 
     
}
.form-signup .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.account
{
    padding: 10px 0px 20px 0px;
    background-color: #f7f7f7;
  	width:600px;
  	font-size:20px;
  	background-image:url("images/bg7(1).jpg");
  	border: 2px solid white;
    border-radius: 8px;
	
}
.btn-block{
background-color:#00CED1;
}

</style>




<div class="container">

    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
           
            <div class="account">
            <form class="form-signup" name="signupform"><font color="MIDNIGHTBLUE"><br>
            <h2>Create New Account</h2>
        
            User Name <font color="red"></font><input type="text" class="form-control" ng-model="user.username" required >
            <!-- <p ng-show="signupform.username.$error.minlength" style="color:red">User name should be 5-10 characters</p> -->
              First name -<input type="text" class="form-control" ng-model="user.firstname" required>
               Last name -<input type="text" class="form-control" ng-model="user.lastname" required>
              Email -<input type="text" class="form-control" ng-model="user.email" required>
              password - <input type="password" class="form-control" ng-model="user.password" required>
               Confirm Password -<input type="password" class="form-control" name="Confirm Password" required>
                Phone number -<input type="text" class="form-control" ng-model="user.phonenumber" required ><br>
           <b>Role &nbsp;<input type="radio" value="Student" ng-model="user.role" >Student&nbsp;&nbsp;
                <input type="radio" value="Employee" ng-model="user.role" >Employee&nbsp;&nbsp;
                <input type="radio" value="Alumini" ng-model="user.role" >Alumini </b>
                <input type="hidden" value="0" ng-model="user.online">
                <br><br>
                
              <button class="btn btn-block" type="submit" ng-click="registerUser()" ng-disabled="signupform.$invalid">
                   <h4>Create Account</h4></button></font>
</form>
</div>
</div>
</div>
</div>



 
 
 
 
 
 
 
 
 
 
 
 <!-- <div>
 <b>signup page</b>
 </div> -->