<div><font color="MIDNIGHTBLUE" size="4px">
<table class="table table-responsive">
<thead>
<tr><td>Profile</td>
<td>Firstname
</td><td>Lastname</td>
<td></td>

<td>Role</td>
<td>Request</td></tr>
</thead>
<tbody>
<tr ng-repeat="user in suggesteduserslist">
<td><img src="http://localhost:8087/ChatAppBackend/getprofilepic/{{user.username}}" width="50px" height="50px" class="img-rounded"></td></td>
<td>{{user.firstname}}</td> 
<td>{{user.lastname}}</td><td ng-if="user.online==0">   <span class="   glyphicon glyphicon-cd" style="color:red"></span></td><td ng-if="user.online==1"><span class="glyphicon glyphicon-cd" style="color:green"></span></td>

<td>{{user.role}}</td>
<td><a><input type="submit" value="Send Request" class="btn btn-primary" ng-click="friendRequest(user.username)"></a></td>
</tr>
</tbody>
</table></font>
</div>